<!DOCTYPE HTML>
<html>
	<head>
		<title>{% block title %}{{ page.title }}{% endblock %} &mdash; {{ site.title }} &mdash; {{ site.subtitle }}</title>
        {% block head_meta %}
            <meta name="robots" content="noindex, follow">
        {% endblock %}
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="{{ site.url }}/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="{{ site.url }}/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="{{ site.url }}/css/ie8.css" /><![endif]-->
        {% block head_styles %}
        {% endblock %}
        {% block head_scripts %}
        {% endblock %}
	</head>
	<body class="homepage">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header-wrapper">
					<header id="header" class="container">

						<!-- Logo -->
							<div id="logo">
								<img src="images/logo.png" alt="">
							</div>

						<!-- Nav -->
							<nav id="nav">
								<ul>
									<li class="current"><a href="index.html">Home</a></li>

								</ul>
							</nav>

					</header>
				</div>

			<!-- Features -->
            {% block content_wrapper %}{% block content %}{% endblock %}{% endblock %}


			<!-- Footer -->
				<div id="footer-wrapper">
					<footer id="footer" class="container">
						<div class="row">
							<div class="9u 9u(medium) 12u$(small)">
                                <!-- Links -->
                                    <section class="widget links">
                                        <h3>About</h3>
                                        <p>What are the elegant elePHPants wearing?<br>
                                        We also want to know and this is where we want to showcase all those options. So if you are looking for shirts, you have found them. If you see one missing, add it! <a href="http://github.com/rdohms/php-shirts">Send a PR to our repo</a></p>
                                    </section>
							</div>
							<div class="3u 3u$(medium) 12u$(small)">

								<!-- Contact -->
									<section class="widget contact last">
										<h3>Contact Us</h3>
										<ul>
											<li>
												<a href="http://twitter.com/shirtsofphp" class="icon fa-twitter">
													<span class="label">Twitter</span>
												</a>
											</li>
											<li>
												<a href="http://github.com/rdohms/php-shirts" class="icon fa-github">
													<span class="label">Twitter</span>
												</a>
											</li>
										</ul>
									</section>

							</div>
						</div>
						<div class="row">
							<div class="12u">
								<div id="copyright">
									<ul class="menu">
										<li>Created with <i class="fa fa-heart red"></i> by <a href="htpp://doh.ms">Rafael Dohms</a></li><li>Design: <a href="http://html5up.net">HTML5 UP</a> with icons by Pham Thi Dieu Linh and Samy Menai</li>
									</ul>
								</div>
							</div>
						</div>
					</footer>
				</div>

			</div>

		<!-- Scripts -->

			<script src="{{ site.url }}/js/jquery.min.js"></script>
			<script src="{{ site.url }}/js/jquery.dropotron.min.js"></script>
			<script src="{{ site.url }}/js/skel.min.js"></script>
			<script src="{{ site.url }}/js/util.js"></script>
			<!--[if lte IE 8]><script src="{{ site.url }}/js/ie/respond.min.js"></script><![endif]-->
			<script src="{{ site.url }}/js/main.js"></script>

            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
            {% block scripts %}
            {% endblock %}

            {% if site.google_analytics_tracking_id %}

            <script type="text/javascript">
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

                ga('create', '{{site.google_analytics_tracking_id}}', 'auto');
                ga('send', 'pageview');
            </script>
            {% endif %}

            {% block scripts_after %}
            {% endblock %}
	</body>
</html>
